.text-slate {
  color: #94a3b8;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.mt-1 {
  margin-top: 0.25rem;
}
